body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.topbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(77, 175, 214);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(23, 62, 146);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: rgb(77, 175, 214);
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(238, 238, 238);
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}