:root {
    --light_blue: rgb(57, 146, 182);
    --dark_blue: rgb(34, 56, 104);
    --light_gray: rgb(238, 238, 238);
    --dark_gray: rgb(126, 126, 126);
}

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.topbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.topbar button {
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: var(--light_blue);
    padding: 10px 15px;
    border: none;
}

.topbar button:hover {
    background-color: var(--light_gray);
}

.topbar a {
    text-decoration: none;
    color: var(--light_blue)
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;;
    left: 0;
    background-color: var(--light_gray);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--light_blue);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: var(--dark_blue);
}

.adddistbutton input {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14pt;
    border: 0px;
    border-radius: 0px;
    background-color: white;
    outline: none;
    padding: 5px;
    transition: .5s;
}

.adddistbutton input:focus {
    background-color: var(--dark_gray);
    color: white;
    border: 0px;
}

.adddistbutton button {
    background-color: var(--light_blue);
    color: white;
    font-size: 14pt;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border: none;
    transition: 0.5s;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    position: relative;
    display: block;
}

.adddistbutton button:hover {
    background-color: var(--dark_blue);
    color: white;
}

.openbtn {
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: var(--light_blue);
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: var(--light_gray);
}

#main {
    transition: margin-left .5s;
    margin-top: 50px;
}

h1 {
    font-size: 48pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 32pt;
    text-align: center;
}

#welcome {
    font-size: 20pt;
    text-align: center;
}

table {
    background-color: var(--light_gray);
    border-color: #ffffff;
    border-width: 2pt;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-top: 10px;
}

td {
    font-size: 16pt;
    border-color: white;
    border-width: 2pt;
}

tr:hover {
    background-color: white;
    transition: .5s;    
}

.heading {
    font-weight: bold;
    background-color: white;
    font-size: 24pt;
}


@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.login_form {
    margin: auto;
    display: block;
}

.login_form input {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16pt;
    margin: auto;
    display: block;
    width: 25%;
    margin-top: 10px;
    border: 0px;
    border-radius: 0px;
    background-color: var(--light_gray);
    outline: none;
    padding: 5px;
    transition: .5s;
}

.login_form input:focus {
    background-color: var(--dark_gray);
    color: white;
    border: 0px;
}

.login_form button {
    background-color: var(--light_gray);
    font-size: 18pt;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border: none;
    display:block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    padding: 5px;
}

.login_form button:hover {
    background-color: var(--dark_gray);
    color: white;
}

.register_button {
    background-color: var(--light_blue);
    font-size: 18pt;
    color: white;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border: none;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px;
}

.register_button:hover {
    background-color: var(--dark_blue);
}

.trashbutton {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16pt;
    color: white;
    background-color: #e93030;
    transition: .5s;
}
.trashbutton:hover {
    background-color: #c01010;
}

.addentrylink {
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    color: white;
    background-color: var(--light_blue);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%; 
    transition: .5s;
}

.addentrylink:hover {
    background-color: var(--dark_blue);
}


.entry_form input, select {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16pt;
    margin: auto;
    display: block;
    width: 25%;
    margin-top: 10px;
    border: 0px;
    border-radius: 0px;
    background-color: var(--light_gray);
    outline: none;
    padding: 5px;
    transition: .5s;
}

.entry_form input:focus {
    background-color: var(--dark_gray);
    color: white;
    border: 0px;
}

.entry_form button {
    background-color: var(--light_blue);
    font-size: 18pt;
    color: white;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border: none;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px;
}

.entry_form button:hover {
    background-color: var(--dark_blue);
}

.delete_form {
    margin: auto;
    display: block;
}

.delete_form input {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16pt;
    margin: auto;
    display: block;
    width: 25%;
    margin-top: 10px;
    border: 0px;
    border-radius: 0px;
    background-color: var(--light_gray);
    outline: none;
    padding: 5px;
    transition: .5s;
}

.delete_form input:focus {
    background-color: var(--dark_gray);
    color: white;
    border: 0px;
}

.delete_form button {
    background-color: #e93030;
    color: white;
    font-size: 18pt;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border: none;
    display:block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    padding: 5px;
    width: 90%;
}

.delete_form button:hover {
    background-color: #c01010;
}


.edittimelink {
    text-align: center;
    text-decoration: none;
    font-size: 20pt;
    color: white;
    background-color: var(--light_blue);
    padding: 5px;
    display: block;
    width: 100%; 
    transition: .5s;
}

.edittimelink:hover {
    background-color: var(--dark_blue);
}

.deletetimelink {
    text-align: center;
    text-decoration: none;
    font-size: 20pt;
    color: white;
    background-color: #e93030;
    padding: 5px;
    display: block;
    width: 100%; 
    transition: .5s;
}

.deletetimelink:hover {
    background-color: #c01010;
}

.edit_form {
    margin: auto;
    display: block;
}

.edit_form input {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16pt;
    margin: auto;
    display: block;
    width: 25%;
    margin-top: 10px;
    border: 0px;
    border-radius: 0px;
    background-color: var(--light_gray);
    outline: none;
    padding: 5px;
    transition: .5s;
}

.edit_form input:focus {
    background-color: var(--dark_gray);
    color: white;
    border: 0px;
}

.edit_form button {
    background-color: var(--light_blue);
    color: white;
    font-size: 18pt;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border: none;
    display:block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    padding: 5px;
    width: 90%;
}

.edit_form button:hover {
    background-color: var(--dark_blue);
}