{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block body %}
    <h1>Recent Times</h1>
    <table>
        <thead class="heading">
            <td>Distance</td>
            <td>Time</td>
            <td>Set On</td>
        </thead>
        <tr>
            <td>400m</td>
            <td>00:01:30.150</td>
            <td>21/08/2024</td>
        </tr>
        <tr>
            <td>10K</td>
            <td>00:57:58.600</td>
            <td>15/05/2024</td>
        </tr>
    </table>

{% endblock %}