<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script>
            var isSidebarOpen = false;
            var isDistFormOpen = false;
            function sidebarToggle() {
                if (isSidebarOpen)
                    closeNav();
                else
                    openNav();

                isSidebarOpen = !isSidebarOpen;
            }

            function openNav() {
                document.getElementById("distSidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("distSidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }

            function adddistformToggle() {
                if (isDistFormOpen) {
                    document.getElementById("distForm").setAttribute("hidden", "true");
                }
                else {
                    document.getElementById("distForm").removeAttribute("hidden");
                }
                isDistFormOpen = !isDistFormOpen;
            }
        </script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <div id="distSidebar" class="sidebar">
            {% for dist in dists %}
                <a href="/distance/{{ dist }}">{{ dist }}</a>
            {% endfor %}
            <a href="javascript:adddistformToggle()">&plus; Add Distance</a>
            <div class="adddistbutton" id="distForm" hidden>
                <form action="/adddist">
                    <input name="distance" type="text" autocomplete="off" placeholder="Distance">
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
        <div id="TopBar" class="topbar">
            <button class="openbtn" onclick="sidebarToggle()">&#9776; Distances</button>
            <a href="/"><button>Home</button></a>
            <a href="/log"><button>Log</button></a>
            <a href="/goals"><button>Goals</button></a>
            <a href="/signout" style="float:right;"><button>Sign Out</button></a>
        </div>
        <div id="main">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>