<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link href="../static/styles.css" rel="stylesheet">
        <script>
            var isSidebarOpen = false;
            function sidebarToggle() {
                if (isSidebarOpen)
                    closeNav();
                else
                    openNav();

                isSidebarOpen = !isSidebarOpen;
            }

            function openNav() {
                document.getElementById("distSidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("distSidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    </head>
    <body>
        <div id="distSidebar" class="sidebar">
            {% for dist in dists %}
                <a href="#">{{ dist }}</a>
            {% endfor %}
            <a href="#">&plus; Add Distance</a>
        </div>
        <div id="TopBar" class="topbar">
            <button class="openbtn" onclick="sidebarToggle()">&#9776; Distances</button>
            <a href="#">Home</a>
            <a href="#">PRs</a>
            <a href="#">Goals</a>
            <a href="/signout" id="a_signout">Sign Out</a>
        </div>
        <div id="main">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>